<main id="post-holder">
<div id="post-nav">
  <h1 id="site-title"> Kernel</h1>
   <div id="navbar">
        <a href="/userProfile"> Reviews</a>
        <a href="/search">Search</a>
        <a href="/media">All Media</a>
    </div>
</div>
<div id="all-post">
<section class="post-review">
<form id="addReview" action="/posts" method="post">
  <h2 id="post-header">Post New Review</h2>
  <div class="RevTitle">
    <h3 id="rev-title">Review Title: </h3>
        {{RevTitle}}
   <input type="text" name="review_title" id="post-title-field" class="post-form-field" pattern=".{1.}" required placeholder="Review Title">
 </div>
  <div class="Movie/Show">
    
    <h3 id="movie-show">Movie/Show: </h3>
        {{Movie/Show}}

	<select name="vid" id="post-media-field" class="post-form-field" pattern=".{1.}">
	<option value="">Select a Movie/Show</option>
	{{#each title}}
	<option value="{{vm_id}}">{{vm_title}}</option>
	{{/each}}
	</select>

  <div class="WriteReview">
    
    <h3 id="review-write">Write a Review: </h3>
        {{WriteReview}}
    <input type="text" name="review_body" id="post-review-field" class="post-form-field" pattern=".{1.}" required placeholder="Write Your Review">
  
   </div>
 
 <input type="submit" value="Post" id="post-form-submit">
</form>
</section>
</div>  
</main>

<script>
	document.getElementById("post-title-field").addEventListener("invalid", myFunction);
	document.getElementById("post-media-field").addEventListener("invalid", myFunction);
	document.getElementById("post-review-field").addEventListener("invalid", myFunction);
	function myFunction() {
  		alert("Must at least contain input");
	}
</script>

