<main id = "user-holder">
  <h1 id="site-title"> Kernel</h1>
   <div id="navbar">
        <a href="/userProfile"> Review</a>
        <a id="search-link" href="/search">Search</a>
	<a id="media-link" href="/media">All Media</a>  
   </div>

  <div id = "all-user">
        <h2 id= "profile-header"> Reviews: </h2>
	{{#each userProfile}}
	<div id = "review-div">
		<h3 id = "add-review-title"> Review Title: </h3>
		<p id ="review-title-field">{{review_title}}</p>
		<h3 id = "add-review-media"> Movie/Tv Show: </h3>
		<p id ="media-title-field">{{review_movie_tv}}</p>
		<h3 id = "add-review-body"> Review: </h3>
		<p id ="review-body-field">{{review_body}}</p>
                <div class = "edit-icon">
                       <a href="/userProfile/{{id}}"> <i class="fas fa-edit"></i></a>
                </div>
                <div class = "delete-icon">
                      <button class= "fas fa-trash-alt" onclick="deleteReview({{id}})">Delete</button></td>
                </div>
        </div>
	{{/each}}
  </div>
  <button type="button" id="create-review-button"><a href="/posts" <i class="fas fa-plus-circle"></i></a></button>
</main>
